
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins",sans-serif;
}

section{
  text-align: center;
  background-color: cornflowerblue;
  color: white;
  width: 80%;
  margin: auto;
  border-radius: 8px;
  padding: 8px 8px;
}
button{
  background-color: #fff;
  color: cornflowerblue;
  padding: 4px 8px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
}
div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
  flex-wrap: wrap;
}